- valid = constraint.satisfied_by? plan
%p
  %i{class: if valid then "icon-green icon-ok-sign" else "icon-red icon-exclamation-sign" end}
  - if valid
    = constraint.fulfilled_message
  - else
    = constraint.unfulfilled_message
