.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "Studienplaner", url_for(:studienplans, :index), class: "brand"
      .nav-collapse.collapse
        %ul.nav
          %li.active= link_to "Home", url_for(:studienplans, :index)
          %li
            %a About
          %li
            %a Contact
        %ul.nav.pull-right
          %li
            %a{href: "/users/login"} Join or log in
